<h1>HELLO AND WELCOME TO HOMEWORK 4 PROBLEM 2</h1>

<P>In this assignment, you will submit a form</P>

<p>In this form, you will submit your name, email and a message</p>

<p>You will then submit your form and get a thank you response</p>

<p>Thank you and have fun!!!!!</p>

<a href="/contact">Click here to submit your form</a>