<h1>Thank You For Contacting Us!</h1>

<p>Your message have been submitted</p>
<p> Name: <%= params[:Name] %></p>
<p> Email: <%= params[:Email] %></p>
<p> Message: <%= params[:Message] %></p>
<p>Your assignment is complete and you are super good!</p>
<p>We will contact you as soon as possible. Thank You </p>